In [ ]:
from google.colab import drive

drive.mount("/content/drive")

Mounted at /content/drive

In [ ]:
!pip install sas7bdat

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting sas7bdat
  Downloading sas7bdat-2.2.3.tar.gz (16 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: six>=1.8.0 in /usr/local/lib/python3.8/dist-packages (from sas7bdat) (1.15.0)
Building wheels for collected packages: sas7bdat
  Building wheel for sas7bdat (setup.py) ... done
  Created wheel for sas7bdat: filename=sas7bdat-2.2.3-py3-none-any.whl size=16308 sha256=25b21abf13819787ebb64dc146c78a69851d7a9bf311173869e5e67f3b661450
  Stored in directory: /root/.cache/pip/wheels/7f/b3/50/0ef27ea1b8d14375a602b74e4dc756cd626e9372c0c27f6ee2
Successfully built sas7bdat
Installing collected packages: sas7bdat
Successfully installed sas7bdat-2.2.3

In [ ]:
import pandas as pd
from sas7bdat import SAS7BDAT as sas

with sas(
    "/content/drive/MyDrive/Heart Attack Prediction Project/data/raw/sasdata.sas7bdat"
) as f:
    df_sas = f.to_data_frame()

[sasdata.sas7bdat] header length 131072 != 8192
WARNING:/content/drive/MyDrive/Heart Attack Prediction Project/data/raw/sasdata.sas7bdat:[sasdata.sas7bdat] header length 131072 != 8192

In [ ]:
df_sas.head()

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENM1,...,_FRTRES1,_VEGRES1,_FRUTSU1,_VEGESU1,_FRTLT1A,_VEGLT1A,_FRT16A,_VEG23A,_FRUITE1,_VEGETE1
0,1.0,1.0,01192021,01,19,2021,1100.0,2021000001,2.021000e+09,1.0,...,1.0,1.0,100.0,214.0,1.0,1.0,1.0,1.0,0.0,0.0
1,1.0,1.0,01212021,01,21,2021,1100.0,2021000002,2.021000e+09,1.0,...,1.0,1.0,100.0,128.0,1.0,1.0,1.0,1.0,0.0,0.0
2,1.0,1.0,01212021,01,21,2021,1100.0,2021000003,2.021000e+09,1.0,...,1.0,1.0,100.0,71.0,1.0,2.0,1.0,1.0,0.0,0.0
3,1.0,1.0,01172021,01,17,2021,1100.0,2021000004,2.021000e+09,1.0,...,1.0,1.0,114.0,165.0,1.0,1.0,1.0,1.0,0.0,0.0
4,1.0,1.0,01152021,01,15,2021,1100.0,2021000005,2.021000e+09,1.0,...,1.0,1.0,100.0,258.0,1.0,1.0,1.0,1.0,0.0,0.0

In [ ]:
df_sas.shape

(438693, 303)

In [ ]:
df_sas.to_parquet(
    "/content/drive/MyDrive/Heart Attack Prediction Project/data/raw/bfrss2021.parquet"
)

In [ ]:
df_sas.to_csv(
    "/content/drive/MyDrive/Heart Attack Prediction Project/data/raw/bfrss2021.csv"
)

In [ ]:
!ls -lh "/content/drive/MyDrive/Heart Attack Prediction Project/data/raw"

total 1.4G
-rw------- 1 root root  376M Jan 26 10:12 bfrss2021.csv
-rw------- 1 root root   34M Jan 26 10:09 bfrss2021.parquet
-rw------- 1 root root 1016M Jan 25 10:19 sasdata.sas7bdat