In [1]:
from sas7bdat import SAS7BDAT as sas

with sas(
    "/Users/emre/GitHub/heart-attack-prediction/data/raw/sas7bdat/2019.sas7bdat"
) as f:
    df_sas = f.to_data_frame()

[2019.sas7bdat] header length 131072 != 8192

In [2]:
df_sas.head()

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENM1,...,_VEGESU1,_FRTLT1A,_VEGLT1A,_FRT16A,_VEG23A,_FRUITE1,_VEGETE1,_FLSHOT7,_PNEUMO3,_AIDTST4
0,1.0,1.0,01182019,01,18,2019,1100.0,2019000001,2.019000e+09,1.0,...,114.0,1.0,1.0,1.0,1.0,0.0,0.0,2.0,1.0,2.0
1,1.0,1.0,01132019,01,13,2019,1100.0,2019000002,2.019000e+09,1.0,...,121.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,2.0
2,1.0,1.0,01182019,01,18,2019,1100.0,2019000003,2.019000e+09,1.0,...,164.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,2.0,2.0
3,1.0,1.0,01182019,01,18,2019,1200.0,2019000004,2.019000e+09,1.0,...,NaN,9.0,9.0,1.0,1.0,1.0,1.0,9.0,9.0,NaN
4,1.0,1.0,01042019,01,04,2019,1100.0,2019000005,2.019000e+09,1.0,...,178.0,1.0,1.0,1.0,1.0,0.0,0.0,2.0,1.0,2.0

In [3]:
df_sas.shape

(418268, 342)

In [4]:
df_sas.to_parquet(
    "/Users/emre/GitHub/heart-attack-prediction/data/raw/bfrss2019.parquet",
    compression="brotli",
)