In [32]:
import os
import pandas as pd

In [33]:
working_directory = "\\".join(os.getcwd().split("\\")[:-1])
DATASETS = os.path.join(working_directory, "data")
PROCESSED_DATASETS = os.path.join(DATASETS, "processed")
RAW_DATASETS = os.path.join(DATASETS, "raw")
RAW_PARQUET = os.path.join(RAW_DATASETS, "bfrss2021_brotli.parquet")

In [34]:
df_raw = pd.read_parquet(RAW_PARQUET)

In [35]:
df_raw.shape

(438693, 303)

In [36]:
df_selected = df_raw[
    [
        "SEXVAR",
        "_IMPRACE",
        "_AGE65YR",
        "GENHLTH",
        "_RFBMI5",
        "_TOTINDA",
        "_SMOKER3",
        "DRNKANY5",
        "DIABETE4",
        "CVDSTRK3",
        "CVDCRHD4",
        "CVDINFR4",
    ]
]
df_selected.head()

,SEXVAR,_IMPRACE,_AGE65YR,GENHLTH,_RFBMI5,_TOTINDA,_SMOKER3,DRNKANY5,DIABETE4,CVDSTRK3,CVDCRHD4,CVDINFR4
0,2.0,1.0,2.0,5.0,1.0,2.0,3.0,2.0,3.0,2.0,2.0,2.0
1,2.0,2.0,2.0,3.0,9.0,1.0,4.0,2.0,1.0,2.0,1.0,2.0
2,2.0,2.0,2.0,2.0,2.0,2.0,4.0,2.0,1.0,2.0,1.0,2.0
3,2.0,1.0,1.0,2.0,2.0,1.0,4.0,1.0,1.0,2.0,2.0,2.0
4,1.0,6.0,2.0,5.0,2.0,1.0,4.0,2.0,1.0,1.0,7.0,1.0

In [37]:
df_selected.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 438693 entries, 0 to 438692
Data columns (total 12 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   SEXVAR    438693 non-null  float64
 1   _IMPRACE  438693 non-null  float64
 2   _AGE65YR  438693 non-null  float64
 3   GENHLTH   438689 non-null  float64
 4   _RFBMI5   438693 non-null  float64
 5   _TOTINDA  438693 non-null  float64
 6   _SMOKER3  438693 non-null  float64
 7   DRNKANY5  438693 non-null  float64
 8   DIABETE4  438690 non-null  float64
 9   CVDSTRK3  438691 non-null  float64
 10  CVDCRHD4  438691 non-null  float64
 11  CVDINFR4  438691 non-null  float64
dtypes: float64(12)
memory usage: 40.2 MB

In [38]:
parquet_name = os.path.join(PROCESSED_DATASETS, "bfrss2021_selected_brotli.parquet")
df_selected.to_parquet(parquet_name, engine="auto", compression="brotli")