In [1]:
import pandas as pd
import numpy as np
import os
import re
from sklearn.preprocessing import LabelEncoder
from IPython.display import display

In [2]:
work_directory = "/".join(os.getcwd().split("/")[:-1])
DATASETS = os.path.join(work_directory, "data")
INTERIM_PATH = os.path.join(DATASETS, "interim")
PROCESSED_PATH = os.path.join(DATASETS, "processed")

In [3]:
def read_directory(directory_name):
    return sorted(os.listdir(directory_name))

In [4]:
def create_directory(workdir, directory_name):
    if not os.path.exists(os.path.join(workdir, directory_name)):
        os.makedirs(os.path.join(workdir, directory_name))

In [5]:
def save_graphs(workdir, directory_name, graphname, plt):
    create_directory(workdir, directory_name)
    plt.savefig(os.path.join(workdir, directory_name, graphname))

In [6]:
def change_column_types(df):
    df_raw = df.copy()

    col_types_dict = {
        "Gender": {1: "Male", 2: "Female"},
        "Race": {
            1: "White",
            2: "Black",
            3: "Asian",
            4: "American Indian/Alaskan Native",
            5: "Hispanic",
            6: "Other",
        },
        "Over_65_Years_Old": {1: "No", 2: "Yes"},
        "General_Health_Status": {
            1: "Excellent",
            2: "Very Good",
            3: "Good",
            4: "Fair",
            5: "Poor",
        },
        "Obesity_Overweight_Status": {1: "Normal", 2: "Obese"},
        "Physical_Activity_Status": {1: "Yes", 2: "No"},
        "Tobacco_Usage": {
            1: "Active Smoker",
            2: "Active Smoker",
            3: "Former Smoker",
            4: "Never Smoked",
        },
        "Alcohol_Usage": {1: "Yes", 2: "No"},
        "Diabetes_Status": {1: "Yes", 2: "No", 3: "No", 4: "Yes"},
        "Stroke_Status": {1: "Yes", 2: "No"},
        "Coronary_Heart_Disease_Status": {1: "Yes", 2: "No"},
        "Heart_Attack_Status": {1: "Yes", 2: "No"},
    }

    for col in col_types_dict.keys():
        df_raw[col] = df_raw[col].map(col_types_dict[col])

    return df_raw

In [7]:
def convert_variables(df):
    df_raw = df.copy()

    # Convert categorical variables to dummy/indicator variables
    df_raw = pd.get_dummies(
        df_raw,
        columns=[
            "Gender",
            "Race",
            "Over_65_Years_Old",
            "Obesity_Overweight_Status",
            "Physical_Activity_Status",
            "Alcohol_Usage",
            "Diabetes_Status",
            "Stroke_Status",
            "Coronary_Heart_Disease_Status",
            "Heart_Attack_Status",
        ],
        dtype=np.int8,
    )

    general_health_mapping = {
        "Excellent": 5,
        "Very Good": 4,
        "Good": 3,
        "Fair": 2,
        "Poor": 1,
    }

    tobacco_usage_mapping = {"Active Smoker": 2, "Former Smoker": 1, "Never Smoked": 0}

    # Use LabelEncoder with custom mappings
    label_encoder = LabelEncoder()

    df_raw["General_Health_Status"] = df_raw["General_Health_Status"].map(
        general_health_mapping
    )
    df_raw["Tobacco_Usage"] = df_raw["Tobacco_Usage"].map(tobacco_usage_mapping)

    # Apply LabelEncoder
    df_raw["General_Health_Status"] = label_encoder.fit_transform(
        df_raw["General_Health_Status"]
    ).astype(np.int8)

    df_raw["Tobacco_Usage"] = label_encoder.fit_transform(
        df_raw["Tobacco_Usage"]
    ).astype(np.int8)

    return df_raw

In [8]:
def main():
    interim_dataset = read_directory(INTERIM_PATH)
    year_regex = re.compile(r"\d{4}")
    create_directory(DATASETS, "processed")

    for dataset in interim_dataset:
        dataset_year = int(year_regex.search(dataset).group())
        print(dataset, "dataset selected!")

        df = pd.read_parquet(os.path.join(INTERIM_PATH, dataset))

        if dataset_year == 2018:
            df.rename(
                columns={
                    "SEX1": "Gender",
                    "_IMPRACE": "Race",
                    "_AGE65YR": "Over_65_Years_Old",
                    "GENHLTH": "General_Health_Status",
                    "_RFBMI5": "Obesity_Overweight_Status",
                    "_TOTINDA": "Physical_Activity_Status",
                    "_SMOKER3": "Tobacco_Usage",
                    "DRNKANY5": "Alcohol_Usage",
                    "DIABETE3": "Diabetes_Status",
                    "CVDSTRK3": "Stroke_Status",
                    "CVDCRHD4": "Coronary_Heart_Disease_Status",
                    "CVDINFR4": "Heart_Attack_Status",
                },
                inplace=True,
            )

        if dataset_year == 2019:
            df.rename(
                columns={
                    "SEXVAR": "Gender",
                    "_IMPRACE": "Race",
                    "_AGE65YR": "Over_65_Years_Old",
                    "GENHLTH": "General_Health_Status",
                    "_RFBMI5": "Obesity_Overweight_Status",
                    "_TOTINDA": "Physical_Activity_Status",
                    "_SMOKER3": "Tobacco_Usage",
                    "DRNKANY5": "Alcohol_Usage",
                    "DIABETE4": "Diabetes_Status",
                    "CVDSTRK3": "Stroke_Status",
                    "CVDCRHD4": "Coronary_Heart_Disease_Status",
                    "CVDINFR4": "Heart_Attack_Status",
                },
                inplace=True,
            )

        if dataset_year == 2020:
            df.rename(
                columns={
                    "SEXVAR": "Gender",
                    "_IMPRACE": "Race",
                    "_AGE65YR": "Over_65_Years_Old",
                    "GENHLTH": "General_Health_Status",
                    "_RFBMI5": "Obesity_Overweight_Status",
                    "_TOTINDA": "Physical_Activity_Status",
                    "_SMOKER3": "Tobacco_Usage",
                    "DRNKANY5": "Alcohol_Usage",
                    "DIABETE4": "Diabetes_Status",
                    "CVDSTRK3": "Stroke_Status",
                    "CVDCRHD4": "Coronary_Heart_Disease_Status",
                    "CVDINFR4": "Heart_Attack_Status",
                },
                inplace=True,
            )

        if dataset_year == 2021:
            df.rename(
                columns={
                    "SEXVAR": "Gender",
                    "_IMPRACE": "Race",
                    "_AGE65YR": "Over_65_Years_Old",
                    "GENHLTH": "General_Health_Status",
                    "_RFBMI5": "Obesity_Overweight_Status",
                    "_TOTINDA": "Physical_Activity_Status",
                    "_SMOKER3": "Tobacco_Usage",
                    "DRNKANY5": "Alcohol_Usage",
                    "DIABETE4": "Diabetes_Status",
                    "CVDSTRK3": "Stroke_Status",
                    "CVDCRHD4": "Coronary_Heart_Disease_Status",
                    "CVDINFR4": "Heart_Attack_Status",
                },
                inplace=True,
            )

        if dataset_year == 2022:
            df.rename(
                columns={
                    "SEXVAR": "Gender",
                    "_IMPRACE": "Race",
                    "_AGE65YR": "Over_65_Years_Old",
                    "GENHLTH": "General_Health_Status",
                    "_RFBMI5": "Obesity_Overweight_Status",
                    "_TOTINDA": "Physical_Activity_Status",
                    "_SMOKER3": "Tobacco_Usage",
                    "DRNKANY6": "Alcohol_Usage",
                    "DIABETE4": "Diabetes_Status",
                    "CVDSTRK3": "Stroke_Status",
                    "CVDCRHD4": "Coronary_Heart_Disease_Status",
                    "CVDINFR4": "Heart_Attack_Status",
                },
                inplace=True,
            )

        # drop every row that contains a 7 or 9 value in any column
        for column in df.columns:
            df = df[~df[column].isin([7, 9])]

        df = change_column_types(df)

        # drop every row that contains a NaN value
        df.dropna(inplace=True)

        df = convert_variables(df)

        print(df.info())
        display(df.head())

        filename = f"bfrss{dataset_year}_processed.parquet"
        df.to_parquet(os.path.join(PROCESSED_PATH, filename))

In [9]:
if __name__ == "__main__":
    main()

bfrss2018_selected.parquet dataset selected!
<class 'pandas.core.frame.DataFrame'>
Index: 376612 entries, 0 to 437435
Data columns (total 26 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   General_Health_Status                376612 non-null  int8
 1   Tobacco_Usage                        376612 non-null  int8
 2   Gender_Female                        376612 non-null  int8
 3   Gender_Male                          376612 non-null  int8
 4   Race_American Indian/Alaskan Native  376612 non-null  int8
 5   Race_Asian                           376612 non-null  int8
 6   Race_Black                           376612 non-null  int8
 7   Race_Hispanic                        376612 non-null  int8
 8   Race_Other                           376612 non-null  int8
 9   Race_White                           376612 non-null  int8
 10  Over_65_Years_Old_No                 376612 non-null  int8
 11  Over_65_Years_Old_Yes                376612 non-null  int8
 12  Obesity_Overweight_Status_Normal     376612 non-null  int8
 13  Obesity_Overweight_Status_Obese      376612 non-null  int8
 14  Physical_Activity_Status_No          376612 non-null  int8
 15  Physical_Activity_Status_Yes         376612 non-null  int8
 16  Alcohol_Usage_No                     376612 non-null  int8
 17  Alcohol_Usage_Yes                    376612 non-null  int8
 18  Diabetes_Status_No                   376612 non-null  int8
 19  Diabetes_Status_Yes                  376612 non-null  int8
 20  Stroke_Status_No                     376612 non-null  int8
 21  Stroke_Status_Yes                    376612 non-null  int8
 22  Coronary_Heart_Disease_Status_No     376612 non-null  int8
 23  Coronary_Heart_Disease_Status_Yes    376612 non-null  int8
 24  Heart_Attack_Status_No               376612 non-null  int8
 25  Heart_Attack_Status_Yes              376612 non-null  int8
dtypes: int8(26)
memory usage: 12.2 MB
None

,General_Health_Status,Tobacco_Usage,Gender_Female,Gender_Male,Race_American Indian/Alaskan Native,Race_Asian,Race_Black,Race_Hispanic,Race_Other,Race_White,...,Alcohol_Usage_No,Alcohol_Usage_Yes,Diabetes_Status_No,Diabetes_Status_Yes,Stroke_Status_No,Stroke_Status_Yes,Coronary_Heart_Disease_Status_No,Coronary_Heart_Disease_Status_Yes,Heart_Attack_Status_No,Heart_Attack_Status_Yes
0,3,0,1,0,0,0,0,0,0,1,...,1,0,1,0,1,0,1,0,1,0
1,2,2,1,0,0,0,1,0,0,0,...,0,1,1,0,1,0,1,0,1,0
2,0,0,1,0,0,0,0,0,0,1,...,1,0,0,1,0,1,1,0,1,0
3,4,0,0,1,0,0,0,0,0,1,...,1,0,1,0,1,0,1,0,1,0
5,3,0,1,0,0,0,0,0,0,1,...,1,0,0,1,1,0,0,1,1,0

bfrss2019_selected.parquet dataset selected!
<class 'pandas.core.frame.DataFrame'>
Index: 356133 entries, 0 to 418267
Data columns (total 26 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   General_Health_Status                356133 non-null  int8
 1   Tobacco_Usage                        356133 non-null  int8
 2   Gender_Female                        356133 non-null  int8
 3   Gender_Male                          356133 non-null  int8
 4   Race_American Indian/Alaskan Native  356133 non-null  int8
 5   Race_Asian                           356133 non-null  int8
 6   Race_Black                           356133 non-null  int8
 7   Race_Hispanic                        356133 non-null  int8
 8   Race_Other                           356133 non-null  int8
 9   Race_White                           356133 non-null  int8
 10  Over_65_Years_Old_No                 356133 non-null  int8
 11  Over_65_Years_Old_Yes                356133 non-null  int8
 12  Obesity_Overweight_Status_Normal     356133 non-null  int8
 13  Obesity_Overweight_Status_Obese      356133 non-null  int8
 14  Physical_Activity_Status_No          356133 non-null  int8
 15  Physical_Activity_Status_Yes         356133 non-null  int8
 16  Alcohol_Usage_No                     356133 non-null  int8
 17  Alcohol_Usage_Yes                    356133 non-null  int8
 18  Diabetes_Status_No                   356133 non-null  int8
 19  Diabetes_Status_Yes                  356133 non-null  int8
 20  Stroke_Status_No                     356133 non-null  int8
 21  Stroke_Status_Yes                    356133 non-null  int8
 22  Coronary_Heart_Disease_Status_No     356133 non-null  int8
 23  Coronary_Heart_Disease_Status_Yes    356133 non-null  int8
 24  Heart_Attack_Status_No               356133 non-null  int8
 25  Heart_Attack_Status_Yes              356133 non-null  int8
dtypes: int8(26)
memory usage: 11.5 MB
None

,General_Health_Status,Tobacco_Usage,Gender_Female,Gender_Male,Race_American Indian/Alaskan Native,Race_Asian,Race_Black,Race_Hispanic,Race_Other,Race_White,...,Alcohol_Usage_No,Alcohol_Usage_Yes,Diabetes_Status_No,Diabetes_Status_Yes,Stroke_Status_No,Stroke_Status_Yes,Coronary_Heart_Disease_Status_No,Coronary_Heart_Disease_Status_Yes,Heart_Attack_Status_No,Heart_Attack_Status_Yes
0,2,1,1,0,0,0,1,0,0,0,...,1,0,1,0,1,0,1,0,1,0
1,1,0,1,0,0,0,0,0,0,1,...,1,0,1,0,1,0,1,0,1,0
2,2,0,1,0,0,0,1,0,0,0,...,1,0,0,1,1,0,1,0,1,0
4,3,1,1,0,0,0,0,0,0,1,...,1,0,1,0,1,0,1,0,1,0
6,3,2,0,1,0,0,0,0,0,1,...,0,1,0,1,1,0,1,0,1,0

bfrss2020_selected.parquet dataset selected!
<class 'pandas.core.frame.DataFrame'>
Index: 336791 entries, 0 to 401957
Data columns (total 26 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   General_Health_Status                336791 non-null  int8
 1   Tobacco_Usage                        336791 non-null  int8
 2   Gender_Female                        336791 non-null  int8
 3   Gender_Male                          336791 non-null  int8
 4   Race_American Indian/Alaskan Native  336791 non-null  int8
 5   Race_Asian                           336791 non-null  int8
 6   Race_Black                           336791 non-null  int8
 7   Race_Hispanic                        336791 non-null  int8
 8   Race_Other                           336791 non-null  int8
 9   Race_White                           336791 non-null  int8
 10  Over_65_Years_Old_No                 336791 non-null  int8
 11  Over_65_Years_Old_Yes                336791 non-null  int8
 12  Obesity_Overweight_Status_Normal     336791 non-null  int8
 13  Obesity_Overweight_Status_Obese      336791 non-null  int8
 14  Physical_Activity_Status_No          336791 non-null  int8
 15  Physical_Activity_Status_Yes         336791 non-null  int8
 16  Alcohol_Usage_No                     336791 non-null  int8
 17  Alcohol_Usage_Yes                    336791 non-null  int8
 18  Diabetes_Status_No                   336791 non-null  int8
 19  Diabetes_Status_Yes                  336791 non-null  int8
 20  Stroke_Status_No                     336791 non-null  int8
 21  Stroke_Status_Yes                    336791 non-null  int8
 22  Coronary_Heart_Disease_Status_No     336791 non-null  int8
 23  Coronary_Heart_Disease_Status_Yes    336791 non-null  int8
 24  Heart_Attack_Status_No               336791 non-null  int8
 25  Heart_Attack_Status_Yes              336791 non-null  int8
dtypes: int8(26)
memory usage: 10.9 MB
None

,General_Health_Status,Tobacco_Usage,Gender_Female,Gender_Male,Race_American Indian/Alaskan Native,Race_Asian,Race_Black,Race_Hispanic,Race_Other,Race_White,...,Alcohol_Usage_No,Alcohol_Usage_Yes,Diabetes_Status_No,Diabetes_Status_Yes,Stroke_Status_No,Stroke_Status_Yes,Coronary_Heart_Disease_Status_No,Coronary_Heart_Disease_Status_Yes,Heart_Attack_Status_No,Heart_Attack_Status_Yes
0,3,2,1,0,0,0,0,0,0,1,...,1,0,0,1,1,0,1,0,1,0
4,3,0,1,0,0,0,0,0,0,1,...,1,0,1,0,0,1,1,0,1,0
5,1,1,0,1,0,0,0,0,0,1,...,1,0,0,1,1,0,1,0,1,0
6,2,0,1,0,0,0,0,0,0,1,...,1,0,1,0,1,0,1,0,1,0
8,3,0,1,0,0,0,0,0,0,1,...,1,0,1,0,1,0,1,0,1,0

bfrss2021_selected.parquet dataset selected!
<class 'pandas.core.frame.DataFrame'>
Index: 364388 entries, 0 to 438692
Data columns (total 26 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   General_Health_Status                364388 non-null  int8
 1   Tobacco_Usage                        364388 non-null  int8
 2   Gender_Female                        364388 non-null  int8
 3   Gender_Male                          364388 non-null  int8
 4   Race_American Indian/Alaskan Native  364388 non-null  int8
 5   Race_Asian                           364388 non-null  int8
 6   Race_Black                           364388 non-null  int8
 7   Race_Hispanic                        364388 non-null  int8
 8   Race_Other                           364388 non-null  int8
 9   Race_White                           364388 non-null  int8
 10  Over_65_Years_Old_No                 364388 non-null  int8
 11  Over_65_Years_Old_Yes                364388 non-null  int8
 12  Obesity_Overweight_Status_Normal     364388 non-null  int8
 13  Obesity_Overweight_Status_Obese      364388 non-null  int8
 14  Physical_Activity_Status_No          364388 non-null  int8
 15  Physical_Activity_Status_Yes         364388 non-null  int8
 16  Alcohol_Usage_No                     364388 non-null  int8
 17  Alcohol_Usage_Yes                    364388 non-null  int8
 18  Diabetes_Status_No                   364388 non-null  int8
 19  Diabetes_Status_Yes                  364388 non-null  int8
 20  Stroke_Status_No                     364388 non-null  int8
 21  Stroke_Status_Yes                    364388 non-null  int8
 22  Coronary_Heart_Disease_Status_No     364388 non-null  int8
 23  Coronary_Heart_Disease_Status_Yes    364388 non-null  int8
 24  Heart_Attack_Status_No               364388 non-null  int8
 25  Heart_Attack_Status_Yes              364388 non-null  int8
dtypes: int8(26)
memory usage: 11.8 MB
None

,General_Health_Status,Tobacco_Usage,Gender_Female,Gender_Male,Race_American Indian/Alaskan Native,Race_Asian,Race_Black,Race_Hispanic,Race_Other,Race_White,...,Alcohol_Usage_No,Alcohol_Usage_Yes,Diabetes_Status_No,Diabetes_Status_Yes,Stroke_Status_No,Stroke_Status_Yes,Coronary_Heart_Disease_Status_No,Coronary_Heart_Disease_Status_Yes,Heart_Attack_Status_No,Heart_Attack_Status_Yes
0,0,1,1,0,0,0,0,0,0,1,...,1,0,1,0,1,0,1,0,1,0
2,3,0,1,0,0,0,1,0,0,0,...,1,0,0,1,1,0,0,1,1,0
3,3,0,1,0,0,0,0,0,0,1,...,0,1,0,1,1,0,1,0,1,0
5,2,1,0,1,0,0,0,0,0,1,...,1,0,1,0,1,0,1,0,1,0
6,2,0,0,1,0,0,0,0,0,1,...,1,0,1,0,1,0,1,0,1,0

bfrss2022_selected.parquet dataset selected!
<class 'pandas.core.frame.DataFrame'>
Index: 358476 entries, 1 to 445131
Data columns (total 26 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   General_Health_Status                358476 non-null  int8
 1   Tobacco_Usage                        358476 non-null  int8
 2   Gender_Female                        358476 non-null  int8
 3   Gender_Male                          358476 non-null  int8
 4   Race_American Indian/Alaskan Native  358476 non-null  int8
 5   Race_Asian                           358476 non-null  int8
 6   Race_Black                           358476 non-null  int8
 7   Race_Hispanic                        358476 non-null  int8
 8   Race_Other                           358476 non-null  int8
 9   Race_White                           358476 non-null  int8
 10  Over_65_Years_Old_No                 358476 non-null  int8
 11  Over_65_Years_Old_Yes                358476 non-null  int8
 12  Obesity_Overweight_Status_Normal     358476 non-null  int8
 13  Obesity_Overweight_Status_Obese      358476 non-null  int8
 14  Physical_Activity_Status_No          358476 non-null  int8
 15  Physical_Activity_Status_Yes         358476 non-null  int8
 16  Alcohol_Usage_No                     358476 non-null  int8
 17  Alcohol_Usage_Yes                    358476 non-null  int8
 18  Diabetes_Status_No                   358476 non-null  int8
 19  Diabetes_Status_Yes                  358476 non-null  int8
 20  Stroke_Status_No                     358476 non-null  int8
 21  Stroke_Status_Yes                    358476 non-null  int8
 22  Coronary_Heart_Disease_Status_No     358476 non-null  int8
 23  Coronary_Heart_Disease_Status_Yes    358476 non-null  int8
 24  Heart_Attack_Status_No               358476 non-null  int8
 25  Heart_Attack_Status_Yes              358476 non-null  int8
dtypes: int8(26)
memory usage: 11.6 MB
None

,General_Health_Status,Tobacco_Usage,Gender_Female,Gender_Male,Race_American Indian/Alaskan Native,Race_Asian,Race_Black,Race_Hispanic,Race_Other,Race_White,...,Alcohol_Usage_No,Alcohol_Usage_Yes,Diabetes_Status_No,Diabetes_Status_Yes,Stroke_Status_No,Stroke_Status_Yes,Coronary_Heart_Disease_Status_No,Coronary_Heart_Disease_Status_Yes,Heart_Attack_Status_No,Heart_Attack_Status_Yes
1,4,0,1,0,0,0,0,0,0,1,...,1,0,1,0,1,0,1,0,1,0
2,3,0,1,0,0,0,0,0,0,1,...,1,0,1,0,1,0,1,0,1,0
4,1,0,1,0,0,0,0,0,0,1,...,0,1,1,0,1,0,1,0,1,0
5,0,0,0,1,0,0,0,0,0,1,...,1,0,0,1,0,1,1,0,0,1
6,3,1,1,0,0,0,1,0,0,0,...,0,1,1,0,1,0,1,0,1,0